[submodule "private"]
	path = private
	url = git@github.com:markshawn2020/my-private-documents.git
[submodule "DeepLearning.ai-Courses-ClaudeCode"]
	path = DeepLearning.ai-Courses-ClaudeCode
	url = git@github.com:markshawn2020/DeepLearning.ai-Courses-ClaudeCode.git
